*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*To use Box Model*/
}

body{
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
}

.container{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.header{
    padding-bottom: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
    margin-bottom: 20px;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}

.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.button__primary:hover{
    border: 2px solid blue;
}

.hero__image__container {
  position: relative;
  width: 100%;
}

.hero__image__shape {
  position: absolute;
  right: 2;
}

.hero__image {
  position: absolute;
  width: 100%;
  right: auto;
  left: auto;
  z-index: 2;
  border-radius: 6px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text {
  font-size: 30px;
  font-weight: 900;
}

.explore__menu__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.food__card__description{
    padding: 8px; 
}

.food__card{
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
    border-radius: 10px ;
}

.food__card__image__container{
    width: 100%;
    margin-bottom: 5px;
}

.food__image{
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}

.explore__menu__view__more{
    display: flex;
    justify-content: center;
}

.restaurant__container{
    margin-bottom: 20px;
}

.stay__updated__container{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
}

.stay__updated__text{
    width: 100%;
    font-size: 30px;
    margin-bottom: 15px;
}

.stay__updated__input{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.stay__updated__input__email{
    width: 100%;
    border: solid pink;
    border-radius: 10px;
}
.quote__container{
    width: 100%;
    position: relative;
    display: flex;    
    align-items: center;
    margin-top: 100px;
}
.quote__text{
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 0 5px;
}
.quote__img__container{
    width: 100%;
    position: absolute;
    z-index: -2;
}
.quote__img{
    width: 100%;
    border-radius: 20px;
    opacity: 70%;
}
.footer__container{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border-radius: 20px 20px 0 0 ;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer__logo__container{
    width: 100%;
    
}
.footer__logo{
    width: 100%;
    margin-top: -30px;
    margin-bottom: 30px;
    filter: brightness(0) invert(1)
}
.footer__lists{
    width: 100%;
    font-size: 20px;
    padding-left: 80px;
    margin-bottom: 50px;
    margin-top: -50px;
}
.quote__container{
    width: 100%;
    position: relative;
    display: flex;
}
.quote_image_container {
  position: absolute;
}

    /*GRID USING FLEX BOX*/
.restaurant__images__container{
    width: 100%; 
}

.restaurant__images__row__one,.restaurant__images__row__two{
    width: 100%;
    display: flex;
    gap: 3px;
}

.restaurant__images__row__one{
    align-items: baseline;
    margin-bottom: 3px;
}

.restaurant__image__1,.restaurant__image__4{
    width: 100%;
    height: 120px;
}

.restaurant__image__2,.restaurant__image__3{
    width: 120%;
    height: 150px;
}

.restaurant__1,.restaurant__2,.restaurant__3,.restaurant__4{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.restaurant__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}


@media (min-width: 768px) {
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero__image{
        width: 100%;
    }
    .hero__description{
        width: 100%;

    }
    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        padding: 0 30px;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .explore__menu__view__more{
        display: flex;
        justify-content: center;
    }
    .explore__menu__container{
        position: relative;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .explore__menu__gradient__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    transform: skewY(-5deg);
    z-index: -3;
    }
    .restaurant__container{
        display: flex;
        align-items: center;
        margin: 30px 0;
        margin-bottom: 20px;
    }
    .restaurant__text{
        width: 100%;
        font-size: 30px;
    }
    .stay__updated__container{
        width: 100%;
    } 
    .stay__updated__input__email{
        width: 50%;
        height: 50px;
    }
    .stay__updated__text{
        font-size: 30px;
        text-align: center;
    }
    .quote__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quote__img__container{
        width: 100%;
        margin-top: 100px;
    }
    .quote__img{
        width: 100%;
        height: 350px;
    }
    .quote__text{
        width: 100%;
        font-size: 30px;
        font-weight: 500;
        padding-top: 100px;
    }
    .footer__container{
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        padding-bottom: -100px;
    }
    .footer__logo__container{
        width: 100%;
    }
    .footer__lists{
        width: 100%;
        padding-top: 100px;
    }
       
}

@media (min-width: 1020px) {
    .navbar__brand{
        width: 150px;
    }
    .button__primary{
        padding: 10px;
        font-size: 20px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .hero__text{
        font-size: 40px;
    }

    .hero__image{
        width: 100%;
    }
    .hero__description{
        width: 100%;

    }
    .container{
        max-width: 900px;
    }
    .explore__menu__container{
        margin-bottom: 80px;
    }
    .explore__menu__lists{
        display: flex;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .explore__menu__text{
        font-size: 40px;
    }
    .restaurant__container{
        margin: 45px 0;
    }
    
    .footer__lists{
        font-size: 30px;
        padding-top: 100px;
    }

}

@media(min-width: 1400px){
    .container{
        max-width: 1250px;
    }
    .hero__text{
        font-size: 40px;
    }
    .explore__menu__text{
        font-size: 40px;
    }
    .explore__menu__container{
        margin-top: 100px;
        margin-bottom: 200px;
    }
    .restaurant__container{
        margin-bottom: 100px;
    }
    .restaurant__text{
        font-size: 40px;
    }
    .restaurant__image__1,.restaurant__image__4{
        width: 100%;
        height: 200px;
    }

    .restaurant__image__2,.restaurant__image__3{
        width: 120%;
        height: 250px;
    }
    .stay__updated__text{
        font-size: 40px;
    }
    .stay__updated__input{
        height: 80px;
    }
}
